<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="need_nodelet_manager" default="true" />
  <arg name="nodelet_manager_name" default="line_extraction_nodelet" />
  <arg name="scan" default="scan" />
  <arg name="max_line_gap" default="0.5" />
  <arg name="min_line_length" default="0.1" />
  <arg name="min_range" default="0.01" />
  <arg name="min_split_dist" default="0.1" />
  <arg name="min_line_points" default="10" />
  <arg name="outlier_dist" default="0.1" />
  <arg name="bearing_std_dev" default="0.01" />
  <arg name="range_std_dev" default="0.012" />
  <arg name="least_sq_angle_thresh" default="0.1" />
  <arg name="least_sq_radius_thresh" default="0.1" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" if="$(arg need_nodelet_manager)"/>

  <node pkg="nodelet" type="nodelet" name="laser_line_extraction" args="load aerial_robot_perception/LaserLineExtraction $(arg nodelet_manager_name)" output="screen" >

    <remap from="scan" to="$(arg scan)"/>

    <param name="max_line_gap" value="$(arg max_line_gap)" />
    <param name="min_line_length" value="$(arg min_line_length)" />
    <param name="min_range" value="$(arg min_range)" />
    <param name="min_split_dist" value="$(arg min_split_dist)" />
    <param name="min_line_points" value="$(arg min_line_points)" />
    <param name="outlier_dist" value="$(arg outlier_dist)" />
    <param name="bearing_std_dev" value="$(arg bearing_std_dev)" />
    <param name="range_std_dev" value="$(arg range_std_dev)" />
    <param name="least_sq_angle_thresh" value="$(arg least_sq_angle_thresh)" />
    <param name="least_sq_radius_thresh" value="$(arg least_sq_radius_thresh)" />
  </node>

</launch>
